In [3]:
import pandas as pd

In [4]:
first_purchases_df = pd.read_csv(r'C:/.../data/first_purchases.csv')
purchases_df = pd.read_csv(r'C:/.../data/purchases.csv')

In [5]:
purch_df = purchases_df.copy()

In [6]:
f_purch_df = first_purchases_df.copy()

In [7]:
purch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227457 entries, 0 to 227456
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   purchase_date  227457 non-null  object
 1   user_id        227457 non-null  int64
 2   purchase_id    227457 non-null  object
 3   venue_id       227457 non-null  object
 4   product_line   227457 non-null  object
dtypes: int64(1), object(4)
memory usage: 8.7+ MB

In [8]:
## Convert 'purchase_date' datatype to datetime
purch_df['purchase_date'] = pd.to_datetime(purch_df['purchase_date'], format = '%d.%m.%y')

In [9]:
purch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227457 entries, 0 to 227456
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   purchase_date  227457 non-null  datetime64[ns]
 1   user_id        227457 non-null  int64
 2   purchase_id    227457 non-null  object
 3   venue_id       227457 non-null  object
 4   product_line   227457 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 8.7+ MB

In [10]:
## Convert 'first_purchase_date' datatype to datetime
f_purch_df['first_purchase_date'] = pd.to_datetime(f_purch_df['first_purchase_date'], format = '%d.%m.%y')

In [12]:
f_purch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71257 entries, 0 to 71256
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   first_purchase_date  71257 non-null  datetime64[ns]
 1   user_id              71257 non-null  int64
 2   purchase_id          71257 non-null  object
 3   venue_id             71257 non-null  object
 4   product_line         71257 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 2.7+ MB

In [11]:
f_purch_df

      first_purchase_date  user_id      purchase_id     venue_id product_line
0              2020-03-19  6767946  85268e3237f5770  632427c4633   Restaurant
1              2020-04-11  2059607  76536l2565p7994  398873c9040   Restaurant
2              2020-04-08  3959440  16109g9441m1972  844144p5894   Restaurant
3              2020-04-19  1879402  62937z7471t6397  190031r6061   Restaurant
4              2020-04-16  8216493  37122s5105v7666  280309g4883   Restaurant
...                   ...      ...              ...          ...          ...
71252          2020-09-07  1711187  30021y4168i6984  881921j3237   Restaurant
71253          2020-08-14  5907318  43941e5025n1770  428836a5910   Restaurant
71254          2020-08-21  8124777  30619e1375g9100  414099g1879   Restaurant
71255          2020-09-05  1806437  73322r5203t8792  451074q8754   Restaurant
71256          2020-09-12  2835652  19665s1011b5743  159424f7959   Restaurant

[71257 rows x 5 columns]

In [13]:
f_purch_df.duplicated().sum()

0

In [14]:
purch_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227457 entries, 0 to 227456
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   purchase_date  227457 non-null  datetime64[ns]
 1   user_id        227457 non-null  int64
 2   purchase_id    227457 non-null  object
 3   venue_id       227457 non-null  object
 4   product_line   227457 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 8.7+ MB

In [15]:
(purch_df['purchase_id'].str.len() != 15).sum()

0

In [16]:
(purch_df['venue_id'].str.len() != 11).sum()

0

In [17]:
purch_df['product_line'].str.len()

0         10
1         12
2         12
3         10
4         10
          ..
227452    10
227453    10
227454    10
227455    10
227456    12
Name: product_line, Length: 227457, dtype: int64

In [18]:
## check if first_purchase_date has unique customer ID
f_purch_df['user_id'].duplicated().sum()

0

In [19]:
purch_df['purchase_date'].min(), purch_df['purchase_date'].max()

(Timestamp('2020-04-21 00:00:00'), Timestamp('2020-10-31 00:00:00'))

In [20]:
f_purch_df['first_purchase_date'].min(), f_purch_df['first_purchase_date'].max()

(Timestamp('2020-03-12 00:00:00'), Timestamp('2020-09-21 00:00:00'))

In [21]:
purch_df['user_id'].unique()

array([5179432, 3725625, 6767946, ..., 9593213, 5198771, 9586470],
      dtype=int64)

## To SQL

In [105]:
schema = "wolt"
host = "localhost"
user = ""
password = "!"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [107]:
# purch_df.to_sql('purchases',
#                 if_exists = 'append',
#                 index = False,
#                 con=connection_string)

227457

In [109]:
# f_purch_df.to_sql('first_purchases',
#                   if_exists = 'append',
#                   index = False,
#                   con = connection_string)

71257